*{
    margin: 0;
    padding: 0;
}
.wrap{
    background: #000;
    min-height: 100vh;
    gap: 30px;
    .select{
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        button{
        width: 100px;
        height: 20px;
        color: #000;
        }
    }
    .count,p,.winner{
        height: 100%;
        color: white;
        font-size: 36px;
        width: 20%;
        margin: 0 auto;
        text-align: center;
    }
    p{
        letter-spacing: 2px;
        padding-right: 55px;
        margin-bottom: 10px;
    }
}